h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#about {
	max-width: 1080;
	max-height: 600;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

#mission {
	align: center;
	font-family: 'Open Sans';
	text-align: center;
	font-size: 18px;
	color: gray;
	padding-right: 25%; 
	padding-left: 25%;
	padding-bottom: 20px;

}

#header {
	align: center;
	font-family: 'Open Sans';
	font-size: 18px;
	padding-right: 25%; 
	padding-left: 25%;
	padding-bottom: 20px;
}

#blurb {
	align: center;
    font-family: 'Open Sans';
	text-align: justify;
	font-size: 18px;
	padding-right: 15%; 
	padding-left: 15%;
	padding-bottom: 20px;
}