#wrapper2{
	display:block;
	margin:auto;
	height:80%;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 30px;
	overflow:hidden;
}


#description{
	height: 70%;
	width: 100%;
	float: bottom;
}

#container{
	width: 90%;
	height: 100%;
}

#slider{
	height:100%;
	width: 100%;
	overflow:hidden;
	z-index:0;
	position:relative;
	display:block;
}

.project img{
	width:100%;
	height: 80%

}

.info{
	text-align: justify;
	font-size: 18px;
	font-family: 'Weibei TC';
	padding-right: 15%; 
	padding-left: 15%;
}

.title{
	font-family: 'Weibei TC';
}

#prev{
	background-image:url(arrow_left.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width:10px;
	position:relative;
	z-index:10;
	opacity:0;
}

#summary{
	width:100%;
	height:65%;
}

#next{
	background-image:url(arrow_right.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	width:10px;
	position:relative;
	z-index:11;
	opacity:0;
}

#prev:hover, #next:hover{
	opacity: 0.3;
}